body {
  background-image: url("http://i.imgur.com/QOfZ5r8.jpg");
  background-size: cover;
}

.gameBoard {
  height: 500px;
  width: 900px;
  border: 2px solid black;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  background-image: url('http://i.imgur.com/pnztT1T.gif');
  background-size: cover;
}
/*
http://68.media.tumblr.com/297bca135cc211b869c1a659664e46b9/tumblr_nsqazrgxAY1rnfgtmo4_500.gif*/

#character {
  height: 100px;
  width: 91px;
  position: absolute;
  left: 50px;
  margin-left: 40px;
  bottom: 0px;
  background-image: url("http://files.gamebanana.com/img/ico/sprays/52f854ce41068.gif");
  animation-iteration-count:infinite;
}

.object {
  position: absolute;
  bottom: 0px;
  right: -200px;
}

.floor {
  height: 100px;
  width: 900px;
  border: 2px solid black;
  margin: 0 auto;
  position: relative;
  text-align: center;
  background-color: #8B6969;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.score {
  height: 50px;
  width: 100px;
  border: 2px solid black;
  position: absolute;
  left: 37px;
  bottom: 18px;
  background-color: white;
  border-radius: 100px;
}

#scoreBoard {
  text-align: center;
  font-family: 'PressStart2P';
}

#highScore {
  height: 50px;
  width: 100px;
  border: 2px solid black;
  float: right;
  bottom: -13px;
  right: 37px;
  position: relative;
  text-align: center;
  line-height: 53px;
  background-color: white;
  border-radius: 100px;
  font-family: 'PressStart2P';
}

#scores {
  height: 30px;
  width: 900px;
  margin: 0 auto;
  position: relative;
  text-align: center;
}

#S1 {
  float: left;
  position: absolute;
  left: 50px;
  bottom: -7px;
}

#S2 {
  float: right;
  position: relative;
  right: 12px;
  bottom: 9px;
}

.shake-rotate {
  position: relative;
  top: 29px;
  left: 57px;
  height: 50px;
  width: 100px;
}

#start {
  height: 50px;
  width: 100px;
  border-radius: 15px;
  background-color: yellow;
  color: black;
  font-family: 'PressStart2P';
  text-align: center;
  text-shadow: #afe222 1px 1px, #000 2px 2px, #000 3px 3px;
}

button:focus {outline:0;}

.box {
  content: url("http://static.tumblr.com/6e0d1f3887be1fb8603889ca12ca77c7/ypywzw1/6mnnmbim6/tumblr_static_2rxbpwchnz8kg4os404o080w4.gif");
}

.wall {
  content: url("https://openclipart.org/image/2400px/svg_to_png/218087/Pine_Tree.png");
}

.mushroom {
  content: url("https://media.giphy.com/media/A1GHXIybD7mhO/giphy.gif");
}

.bear {
  content: url("http://i96.photobucket.com/albums/l188/Pandora_Leonhart/tumblr_leptmoybI51qc4f5ao1_500_zps99hjkng1.gif");
}

.owl {
  content: url("http://data.whicdn.com/images/124352933/large.gif");
}

#scores {
  color: white;
  font-size: 15px;
  font-family: 'PressStart2P';
}

@font-face {
  font-family: 'PressStart2P';
  src: url('../Fonts/codeman38_press-start-2p/PressStart2P.ttf');
}

#pregameText {
  color: white;
  font-size: 20px;
  position: relative;
  text-align: center;
  line-height: 500px;
  margin: 0 auto;
  display: none;
}

#overlays {
  font-size: 20px;
  position: absolute;
  text-align: center;
  margin: 0 auto;
  bottom: 150px;
  left: 205px;
}

audio {
  display: none;
}
